body {
    background-image: url(http://images.fanpop.com/images/image_uploads/Spice-Girls-spice-girls-231521_1024_768.jpg);
	text-align: center;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: darkblue;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: darkblue;
}
h8 {
    color: darkblue;
}
